.contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 100vh;


}

.header {
    text-align: center;
    color: #ffffff;
}

.worldParagraph {
    text-align: center;
    color: #ffffff;
    width: 70%; 
    margin: 20px 0; 
}

.tokenBalance {
    text-align: center;
    color: #fffff;
    margin-bottom: 20px;
}

.buttonGroup {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buttonGroup button {
    background-color: #ffbf0095;
    color: #212121;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
}

.buttonGroup button.selected {
    background-color: #9595a5;
    color: #ffbf0095;
}

.buttons {
    background-color: #ffbf0095;
    color: #212121;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}
