.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  text-align: left;
  font-size: 6em;
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 75%;
  position: absolute;
  bottom: 0;
}

.button {
  padding: 10px 20px;
  text-decoration: none;
  color: #252525;
  background-color: #ffbf0095;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #444;
}

.section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 2rem auto;
}

.container {
  flex: 1;
  text-align: center;
}

.smallHeader {
  flex: 1;
  text-align: left;
}

.sectionItem {
  text-align: left;
  margin-right: 2rem;
}

.image {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.viewAll {
  display: block;
  text-align: right;
  margin: 2rem auto;
}

.quoteSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.header {
  font-size: 2em;
  margin-bottom: 1em;
}

.paragraph {
  margin-bottom: 1em;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.careerImage {
  max-width: 100%;
  height: auto;
}

.tableContainer {
  display: none; /* Hide the table by default */
}

.table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: left;
}

.table th {
  background-color: #eee;
}


/* Show a message prompting the user to rotate their device when in portrait orientation */
@media screen and (orientation: portrait) {
  .rotateDeviceMessage {
    display: block;
    text-align: center;
  }
}

/* Show the table when the device is in landscape orientation and hide the message */
@media screen and (orientation: landscape) {
  .tableContainer {
    display: block;
  }
  .rotateDeviceMessage {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .page {
    height: auto;
  }

  .title {
    font-size: 3em;
  }

  .buttons {
    flex-direction: column;
    position: static;
    width: 100%;
  }

  .button {
    margin-bottom: 1rem;
  }

  .section {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .container, .smallHeader, .sectionItem {
    text-align: center;
    margin-bottom: 1rem;
  }

  .image {
    max-width: 100%;
  }

  .quoteSection {
    flex-direction: column;
  }

  .textContainer {
    width: 100%;
  }

  .header {
    font-size: 1.5em;
  }

  .paragraph {
    text-align: center;
  }

  .imageContainer {
    width: 100%;
  }

  .table {
    max-width: none;
  }
  .tableContainer {
    display: none; /* Hide the table by default */
  }
}
