.mapOverlay {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.button {
  color: #fff;
  background-color: #ffbf0095;
  text-decoration: none;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
}

.button:hover {
  opacity: 80%;
  cursor: pointer;
}
