.mainContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    height: 100vh;
  }
  
  .signMessageContainer {
    flex: 1 1 300px; 
    margin: 20px;
    text-align: center;
    height: 50vh;
  }
  
  .signMessageContainer .image {
    max-width: 100%;
    height: auto;
  }
  
  .signMessageContainer .content {
    margin-top: 10px;
  }
  